.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group .form-control {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-input {
  position: relative;
}

.password-input .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.password-input .toggle-password i {
  font-size: 1.2rem;
  color: #777;
}

.form-group[_ngcontent-yny-c108] .form-control[_ngcontent-yny-c108] {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
